* {
    font-family: sans-serif;
    margin: 0px;
}

.topheader {
    overflow: hidden;
    background-color: #4c947e;
    position: fixed;
    width: 100%;
}

.topheader .title {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
    display: inline-block;
    font-weight: bold;
}

.topheader .menu {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    right: 0px;
    width: 54px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topheader .menu:active {
    background-color: darkgray;
}

.topheader input[type="checkbox"][role="switch"] {
    display: none;
}

.topheader .links {
    display: none;
    width: 100%;
}

.topheader .links .link {
    width: 100%;
    font-size: 20px;
    padding: 4px;
    padding-left: 16px;
    background-color: #9edac8;
}

.topheader input[type="checkbox"][role="switch"]:checked~.links {
    display: block;
}

.records {
    display: grid;
    grid-template-columns: 100%;
    row-gap: 6px;
    margin: 0px;
}

.controls {
    margin: 0px;
    padding-top: 64px;
    width: 100%;
    column-gap: 8px;
    border-radius: 8px;
    display: grid;
    grid-template-columns: 80% auto;
    margin-bottom: 8px;
}

.controls .search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.record {
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 8px;
}

.record .content {
    padding: 4px;
    font-size: 1rem;
}

.record .datetime {
    color: darkgray;
}

.username {
    font-weight: bold;
}

.record .header {
    padding: 4px;
}

.record .images {
    width: 100%;
    display: flex;
}

.record .images .image {
    max-width: 300px;
    margin: 4px;
    width: 100%;
}

.record .images .image img {
    width: 100%;
}

.record .files {
    margin: 4px;
}