* {
    font-family: sans-serif;
}

.records {
    width: 100%;
    max-width:600px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 6px;
}

.record {
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 8px;
    padding: 4px;
}

.record .datetime {
  color: darkgray;
}
.username {
    font-weight: bold;
}

.header {
  margin-bottom: 4px;
}

.content {
    /* border: solid 1px red; */
}

.record .images {
    width: 100%;
    display: flex;
}

.record .images .image {
    margin: 4px;
    width: 100%;
}

.record .images .image img {
    width: 100%;
}