* {
    margin: 0px;
}

.disabled {
    pointer-events: none;
}

/* Bar commons */
.bar_button {
    padding: 10px;
    min-height: 26px;
    min-width: 32px;
}

.bar_button:active {
    background-color: #2f2f2f;
}

/* Header */
.topheader {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.menubar {
    background-color: black;
    width: 100%;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
}

.menubar .title {
    flex-grow: 2;
    font-size: 25px;
    padding: 4px;
    padding-left: 8px;
    font-family: serif;
}

.topheader .menubar .title a {
    text-decoration: none;
    color: white;
}

.topheader .menubar .menu .hamburger-lines {
    display: block;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topheader .menubar .menu .hamburger-lines .line {
    display: block;
    height: 2px;
    width: 100%;
    border-radius: 10px;
    background: white;
}

.toggler_check {
    display: none;
}

.toggler_check:checked+.menuitems {
    display: block;
}

.topheader .menuitems {
    width: 100%;
    display: none;
}

.topheader .menuitem {
    text-decoration: none;
    background-color: #2f2f2f;
    width: 100%;
    font-size: 20px;
    border-bottom: solid 1px #4f4f4f;
    color: white;
}

.topheader .menuitem.notifications {
    padding: 8px;
}

.topheader .menuitem a {
    color: white;
}

.topheader .menuitem:active {
    background-color: #4f4f4f;
}

.topheader .menu label:active {
    background-color: #4f4f4f;
}

.controls {
    padding: 8px;
    padding-top: 8px;
    column-gap: 8px;
    border-radius: 8px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-bottom: 8px;
}

.controls .search-input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex-grow: 2;
}

/* Footer */
.footer {
    overflow: hidden;
    position: fixed;
    bottom: 0px;
    background-color: black;
    width: 100%;
    color: white;
    font-size: 25px;
    padding: 4px;
    display: flex;
    column-gap: 4px;
}

.footer .bar_button {
    border: solid 1px #2f2f2f;
    border-radius: 4px;
}

.footer .do_delete {
    display: none;
}

.footer .paging {
    text-align: center;
    display: flex;
    column-gap: 4px;
}

.footer .search {
    display: flex;
    flex-grow: 2;
    column-gap: 4px;
    padding-right: 8px;
}

.footer .search .search-input {
    flex-grow: 2;
}

/* Records */
.records {
    padding: 8px;
    padding-top: 60px;
    padding-bottom: 68px;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 6px;
    margin: 0px;
}

.record {
    width: 100%;
    border: solid 1px lightgray;
    border-radius: 8px;
    font-family: sans-serif;
}

.record .content {
    padding: 4px;
    font-size: 1rem;
    text-overflow: hidden;
    overflow: hidden;
    display: block;
}

.record .content p {
    display: inline-block;
    text-indent: 8px;
}

.record .content p::first-letter {
    text-transform: capitalize;
}

.record .content.error {
    border: solid 1px orange;
}

.record .header .datetime {
    color: darkgray;
}

.record .header {
    padding: 4px;
    font-size: 16px;
}

.record .header .origin {
    display: inline-block;
}

.record .source {
    font-weight: bold;
}

/* --- Record selection --- */
.record_wrapper input.selection_marker {
    display: none;
}

.record_wrapper input.selection_marker:checked~.record {
    background-color: lightgray;
}

/* --- Section --- */
.record .section {
    border-bottom: solid 1px darkgray;
}

.record .section .header {
    font-size: 16px;
    padding: 8px;
    background-color: lightgray;
    width: 100%;
    box-sizing: border-box;
}

.record .section .toggler_status {
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid currentColor;

    vertical-align: middle;
    margin-right: 0.7rem;
    transform: translateY(-2px);

    transition: transform 0.2s ease-out;
}

.record .section input.toggler {
    display: none;
}

.record .section .content {
    display: none;
}

.record .section input.toggler:checked~.content {
    display: block;
}

.record .section .toggler:checked~.header .toggler_status {
    transform: rotate(90deg) translateX(-3px);
}

/* --- section gallery --- */
.record .section .gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.record .section .gallery .image {
    max-width: 300px;
    margin: 4px;
    width: 100%;
}

.record .section .gallery .image img {
    width: 100%;
}

.record .section .gallery video {
    max-width: 320px;
    max-height: 240px;
    margin: 4px;
}

.record .section .files {
    margin: 4px;
}

.record .section figcaption {
    font-size: smaller;
}

.status {
    margin-right: 4px;
}

.status .error {
    border: 10px solid red;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: none;
}

.status .info {
    border: 10px solid lightgreen;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #3498db;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
    display: inline-block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.icon {
    width: 16px;
    height: 16px;
    display: inline-block;
}

.icon.twitter {
    background-image: url("/icons.svg");
}

.icon.web {
    background-image: url("/icons.svg");
    background-position: 16px 0px;
}

.icon.telegram {
    background-image: url("/icons.svg");
    background-position: 0px 16px;
}

.icon.pikabu {
    background-image: url("/icons.svg");
    background-position: 16px 16px;
}